.omni {
    margin-left: 10em;
    margin-right: 10em;
}

body {
    margin: 0;
}

nav {
    padding: 10px 0;
    position: sticky;
    top: 0px;
    z-index: 1000;
    backdrop-filter: blur(10px);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.logo a {
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
    transition: 0.5s all cubic-bezier(0.455, 0.03, 0.515, 0.955);
    text-decoration: none;
}

.logo a:hover {
    cursor: pointer;
}

.navbar-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 2em;
}


.nav-links {
    list-style: none;
    display: flex;
    margin-right: 20px;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

button,
select {
    transition: all 0.3s ease;
    padding: 10px;
    border-radius: 10px;
}

input {
    transition: all 0.3s ease;
    padding: 5px;
    border-radius: 10px;
}

button:hover {
    backdrop-filter: blur(5px);
    cursor: pointer;
}

select:hover {
    cursor: pointer;
}

.scrollpane {

    max-width: 100%;
    border-radius: 10px;
    display: flex;
}

.scrollpane.sp-horiz {
    overflow-x: scroll;
    overflow-y: hidden;
    flex-direction: row;
}

.scrollpane.sp-vert {
    overflow-x: hidden;
    overflow-y: scroll;
    flex-direction: column;
}

.scrollpane.sp-horiz_reverse {
    overflow-x: scroll;
    overflow-y: hidden;
    flex-direction: row-reverse;
}

.scrollpane.sp-vert_reverse {
    overflow-x: hidden;
    overflow-y: scroll;
    flex-direction: column-reverse;
}

/* Projects scrollpane */
.scrollpane.sp-projects {
    min-height: 50px;
    max-height: 250px;
}

.scrollpane.sp-projects .sp-item,
.project-grid .pg-project {
    margin: 10px;
    min-height: 70px;
    max-height: 180px;
    min-width: 140px;
    border-radius: 10px;
    padding: 1rem;
    transition: 0.5s all;
}

.scrollpane.sp-projects .sp-item:hover,

.scrollpane .sp-item:hover,
.project-grid .pg-project:hover {
    transform: translate(-5px, -5px);
    cursor: pointer;
}

/* Studios scrollpane */
.scrollpane.sp-studios {
    min-height: 60px;
    max-height: 210px;
}

.scrollpane.sp-studios .sp-item {
    margin: 10px;
    min-height: 80px;
    max-height: 200px;
    min-width: 180px;
    border-radius: 10px;
    padding: 1rem;
    transition: 0.5s all;

}

.scrollpane .sp-item {
    flex-flow: column nowrap;
    display: flex;
}

/* Filters scrollpane */

.scrollpane.sp-filters .sp-item {
    min-width: 100px;
    max-width: 200px;
}

.scrollpane.sp-filters .sp-spacer {
    min-width: 10px;
}

/* Forums scrollpane */
.scrollpane.sp-forum {
    max-height: 250px;
}

.scrollpane.sp-forum .sp-item {
    transition: 0.5s all;
    margin: 1em;
}

.flex-cont {
    display: flex;
}

.flex-cont.fc-vert {
    flex-direction: column;
}

.width-70 {
    width: 70%;
}

.width-60 {
    width: 60%;
}

.width-50 {
    width: 50%;
}

.width-40 {
    width: 40%;
}

.width-30 {
    width: 30%;
}

.width-third {
    width: calc(100% / 3)
}

section {
    margin: 0.1em;
    padding: 10px;
    border-radius: 10px;
    margin-top: 2%;
}

#banner {
    margin: 0.1em;
    border-radius: 10px;
    height: calc(50vh + 100px) !important;

    padding: 2.5rem;
    /* z-index: 999; */
}


.update {
    animation: jiggle 2s forwards;
}

@keyframes jiggle {
    0% {
        transform: rotateZ(10deg)
    }

    5% {
        transform: rotateZ(-9deg)
    }

    10% {
        transform: rotateZ(8deg)
    }

    15% {
        transform: rotateZ(-7deg)
    }

    20% {
        transform: rotateZ(6deg)
    }

    25% {
        transform: rotateZ(-5deg)
    }

    30% {
        transform: rotateZ(4deg)
    }

    35% {
        transform: rotateZ(-3deg)
    }

    40% {
        transform: rotateZ(2deg)
    }

    45% {
        transform: rotateZ(-1deg)
    }

    50% {
        transform: rotateZ(0deg)
    }
}

section.project-grid {
    display: flex;
    flex-wrap: wrap;
    padding: none;
    margin: none;
}

.project-grid .pg-project {
    margin: 10px;
    min-height: 70px;
    max-height: 180px;
    max-width: 130px;
    min-width: 130px;
    border-radius: 10px;
    padding: 1rem;
    transition: 0.5s all;
}

img {
    border-radius: 10px;
}

span.bb-small {
    font-size: 0.8rem;
}

span.bb-strikethrough {
    text-decoration: line-through;
}

.width-80 {
    width: 80%;
}

.width-20 {
    width: 20%;
}



.forum-post * {
    max-width: 100% !important;
    
}

.forum-post blockquote img {
    max-width: 50%;
    max-height: 50%;
}

.sp-forum div.sp-item {
    transition: all 0.3s ease;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ffffff;
    background-color: #00000067;
    color: white;
    padding: 1em !important;
}

.sp-item a > i.pin-btn, .sp-item a > span.pin-btn {
    padding: 1em !important;
    display: none;
}

.sp-item:hover a > i.pin-btn, .sp-item:hover a > span.pin-btn {
    display: inline;
}

blockquote, .forum-aside, pre.blocks {
    background-color: rgba(0, 0, 0, 0.56);
    box-shadow: 0px 0px 10px rgb(0, 0, 0) inset;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    overflow-x: scroll;
}
.bb-big {
    font-size: 1.8rem;
}

section, #banner {
    margin-bottom: 10px;
}

.pfp {
    width: 100px;
}

div.code {
    overflow-x: scroll;
}

#replit-logo {
    width: 1em;
}

.topic-author {
    color: rgba(255, 255, 255, 0.5);
    font-weight: bold;
}