@import url("master-styles.css");

@font-face {
  font-family: "Jost";
  src: url("Jost.ttf") format("truetype");
  font-weight: 400;
}

body {
    background-color: #282320;
}

::-webkit-scrollbar-thumb {
  background: #b75d24; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #91491d;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
button,
input,
article,
textarea {
    font-family: 'Jost', sans-serif;
}

input::placeholder {
    color: #ca6120;
}

nav {
    background: rgba(0, 0, 0, 0.544);
}

.logo a {
    color: #fff;
}

.logo a:hover {
    text-shadow: 0px 0px 3px orange;
}

.nav-links li a {
    color: #fff;
}

button,
select {
    border: 1px solid #ca6120;
    background-color: #ca6120;
    color: white;
}

input, textarea {
    border: 1px solid #ca6120;
    background-color: transparent;
    color: white;
}

input:focus, textarea:focus {
    outline: 1px solid #fff;
}

button:hover {
    background-color: transparent;
    color: white;
}

.scrollpane {

    background-color: #803d14;
    box-shadow: 0px 0px 10px rgb(0, 0, 0) inset;
}

.scrollpane.sp-projects .sp-item,
.project-grid .pg-project {
    background-color: #ca6120;
    color: rgb(255, 255, 255);

}

.scrollpane.sp-projects .sp-item:hover,
.project-grid .pg-project:hover {
    background-color: #ff9654;
    color: black;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.643);
}

.scrollpane.sp-studios .sp-item {
    background-color: #ca6120;
    color: white;

}

.scrollpane.sp-studios .sp-item:hover {
    background-color: #ff9654;
    color: black;
}

span.stats {
    color: lightgrey;
}

.scrollpane .sp-header {
    background-color: rgba(0, 0, 0, 0.544);
}

section {
    background: #724326;
    box-shadow: 0px 0px 10px #724326;
    color: white;
}

#banner {
    background: linear-gradient(90deg, rgb(193, 114, 64) 0%, rgb(103, 61, 35) 100%);
    box-shadow: 0px 0px 10px linear-gradient(180deg, rgba(139, 82, 46, 1) 0%, rgba(114, 67, 38, 1) 100%);
    color: white;
}

#banner button.purple,
button.secondary {
    background-color: transparent;
    color: white;
}

#banner button.purple:hover,
button.secondary:hover {
    background-color: #ca6120;
    color: white;
}

a,
a:visited {
    color: #ffbb93;
}

button a,
button a:visited {
    color: white;
}

#studio-banner section {
    background-color: rgba(0, 0, 0, 0.25);
}