/*

    A Gruvbox theme for Snazzle, updated by @redstone-scratch
    Original author: @ajskateboarder
    Modified by: @redstone-scratch

*/

@import url("master-styles.css");
@import url('Jost.ttf');

body {

    background-color: #282828;
}

.omni {
    margin-left: 10em;
    margin-right: 10em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
button,
input,
article {
    font-family: 'Jost', sans-serif;
}

h1,
h2,
h3 {
    color: #ede3be;
}

input::placeholder {
    color: #6f6259;
}

body {
    margin: 0;
    font-family: 'Jost', Arial, sans-serif;
}

nav {
    background: rgba(50, 48, 47, 0.5);
    backdrop-filter: blur(8px);
    border-bottom: #504945;
    padding: 10px 0;
    position: sticky;
    top: 0px;
    z-index: 1000;
    backdrop-filter: blur(10px);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.logo a {
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
    color: #fe8019 !important;
    transition: 0.5s all cubic-bezier(0.455, 0.03, 0.515, 0.955);
    text-decoration: none;
}

.logo a:hover {
    text-shadow: 0px 0px 3px #ff963f;
    cursor: pointer;
}

.navbar-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 2em;
}


.nav-links {
    list-style: none;
    display: flex;
    margin-right: 20px;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links li a {
    color: #fbf1c7;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

button,
select {
    transition: all 0.3s ease;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #fe8019;
    background-color: #3c3836;
    color: #f8efcc;
}

input {
    transition: all 0.3s ease;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #ca6120;
    background-color: transparent;
    color: white;
}

input:focus {
    outline: 1px solid #fff;
}

button:hover {
    background-color: #e38242;
    border: 1px solid #3c3836;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    cursor: pointer;
}

select:hover {
    cursor: pointer;
}

.scrollpane {
    background-color: #32302f;
    max-width: 100%;
    border-radius: 10px;
    display: flex;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2) inset;
}

.scrollpane.sp-horiz {
    overflow-x: scroll;
    overflow-y: hidden;
    flex-direction: row;
}

.scrollpane.sp-vert {
    overflow-x: hidden;
    overflow-y: scroll;
    flex-direction: column;
}

.scrollpane.sp-horiz_reverse {
    overflow-x: scroll;
    overflow-y: hidden;
    flex-direction: row-reverse;
}

.scrollpane.sp-vert_reverse {
    overflow-x: hidden;
    overflow-y: scroll;
    flex-direction: column-reverse;
}

/* Projects scrollpane */
.scrollpane.sp-projects {
    min-height: 50px;
    max-height: 250px;
}

.scrollpane.sp-projects .sp-item,
.project-grid .pg-project {
    background-color: #433e38;
    color: #fbf1c7;
    margin: 10px;
    min-height: 70px;
    max-height: 180px;
    min-width: 140px;
    border-radius: 10px;
    padding: 1rem;
    position: relative;
    bottom: 0px;
    transition: 0.5s all;
}

.scrollpane.sp-projects .sp-item:hover,
.project-grid .pg-project:hover {
    background-color: #eb8c3e;
    color: black;
}

.sp-projects .sp-item:hover,
.project-grid .pg-project:hover {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    rotate: 5deg;
    bottom: 5px;
    cursor: pointer;
}

/* Studios scrollpane */
.scrollpane.sp-studios {
    min-height: 60px;
    max-height: 210px;
}

.scrollpane.sp-studios .sp-item {
    background-color: #433e38;
    color: #f8efcc;
    margin: 10px;
    min-height: 80px;
    max-height: 200px;
    min-width: 180px;
    border-radius: 10px;
    padding: 1rem;
    transition: 0.5s all;

}

.scrollpane.sp-studios .sp-item:hover {
    background-color: #ff9654;
    color: black;
}

.scrollpane .sp-item {
    flex-flow: column nowrap;
    display: flex;
}

/* Filters scrollpane */

.scrollpane.sp-filters .sp-item {
    min-width: 100px;
    max-width: 200px;
}

.scrollpane.sp-filters .sp-spacer {
    min-width: 10px;
}

/* Forums scrollpane */
.scrollpane.sp-forum {
    max-height: 300px;
}

.scrollpane.sp-forum .sp-item {
    transition: 0.5s all;
    margin: 0.25em;
    padding: 5px;
    border: 3px solid #eb8c3e;
    border-radius: 10px;
}

.scrollpane.sp-forum .sp-item:hover {
    box-shadow: none;
    rotate: none !important;
    border: 3px solid #fbf1c7;
}

.scrollpane.sp-forum .sp-item a {
    color: #ca6120;
    transition: 0.5s color;
}

.scrollpane.sp-forum .sp-item:hover a {
    color: #ff9654;
    margin: 1em;
}

span.stats {
    color: #f8efcc;
}

.flex-cont {
    display: flex;
}

.flex-cont.fc-vert {
    flex-direction: column;
}

.width-70 {
    width: 70%;
}

.width-60 {
    width: 60%;
}

.width-50 {
    width: 50%;
}

.width-40 {
    width: 40%;
}

.width-30 {
    width: 30%;
}

.width-third {
    width: calc(100% / 3)
}

.scrollpane .sp-header {
    background-color: rgba(0, 0, 0, 0.544);
}

section {
    margin: 0.1em;
    background: #3c3836;
    padding: 10px;
    border-radius: 10px;
    color: #fbf1c7;
}

section:first-child:not(.width-third) {
    background: transparent;
}

#banner {
    margin: 0.1em;
    background: linear-gradient(90deg, #3c3836, 0%, #504945, 100%);
    border-radius: 10px;
    box-shadow: 0px 0px 10px linear-gradient(180deg, rgba(139, 82, 46, 1) 0%, rgba(114, 67, 38, 1) 100%);
    color: #ebdbb2;
    height: 60vh;
    padding: 2.5rem;
    padding-bottom: 0px;
    /* z-index: 999; */
}


.update {
    animation: jiggle 2s forwards;
}

@keyframes jiggle {
    0% {
        transform: rotateZ(10deg)
    }

    5% {
        transform: rotateZ(-9deg)
    }

    10% {
        transform: rotateZ(8deg)
    }

    15% {
        transform: rotateZ(-7deg)
    }

    20% {
        transform: rotateZ(6deg)
    }

    25% {
        transform: rotateZ(-5deg)
    }

    30% {
        transform: rotateZ(4deg)
    }

    35% {
        transform: rotateZ(-3deg)
    }

    40% {
        transform: rotateZ(2deg)
    }

    45% {
        transform: rotateZ(-1deg)
    }

    50% {
        transform: rotateZ(0deg)
    }
}

section.project-grid {
    display: flex;
    flex-wrap: wrap;
    padding: none;
    margin: none;
}

.project-grid .pg-project {
    margin: 10px;
    min-height: 70px;
    max-height: 180px;
    max-width: 130px;
    min-width: 130px;
    border-radius: 10px;
    padding: 1rem;
    transition: 0.5s all;
}

a,
a:visited {
    color: #f8efcc;
    transition: 0.5s color;
}

button a,
button a:visited {
    color: white;
}

a:hover {
    color: #ca6120;
}

img {
    border-radius: 10px;
}

.bb-quote-author {
    color: #ca6120;
}
