/*

    A cold and icy dark theme for Snazzle.
    Author: @redstone-scratch

*/

@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');

body {

    background-color: #202d38;

}

* {
    color: white;
}

.omni {
    margin-left: 10em;
    margin-right: 10em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
button,
input,
article {
    /* font-family: 'Mynerve', sans-serif; */
    font-family: 'Jost', sans-serif;
}

input::placeholder {
    color: #46637b;
}

body {
    margin: 0;
    font-family: 'Jost', Arial, sans-serif;
}

nav {
    background: rgba(0, 0, 0, 0.544);
    padding: 10px 0;
    position: sticky;
    top: 0px;
    z-index: 1000;
    backdrop-filter: blur(10px);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.logo a {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
    transition: 0.5s all cubic-bezier(0.455, 0.03, 0.515, 0.955);
    text-decoration: none;
}

.logo a:hover {
    text-shadow: 0px 0px 3px #91caf9;
    cursor: pointer;
}

.navbar-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 2em;
}


.nav-links {
    list-style: none;
    display: flex;
    margin-right: 20px;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

button,
select {
    transition: all 0.3s ease;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #008cff;
    background-color: #008cff;
    color: white;
}

input {
    background-color: transparent;
    transition: all 0.3s ease;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #008cff;
    color: white;
}

input:focus {
    outline: 3px solid #008cff;
}

button:hover {
    background-color: transparent;
    backdrop-filter: blur(5px);
    color: white;
    cursor: pointer;
}

select:hover {
    cursor: pointer;
}

.scrollpane {

    background-color: rgb(107, 109, 111);
    max-width: 100%;
    border-radius: 10px;
    display: flex;
    box-shadow: 0px 0px 10px rgb(0, 0, 0) inset;
}

.scrollpane.sp-horiz {
    overflow-x: scroll;
    overflow-y: hidden;
    flex-direction: row;
}

.scrollpane.sp-vert {
    overflow-x: hidden;
    overflow-y: scroll;
    flex-direction: column;
}

.scrollpane.sp-horiz_reverse {
    overflow-x: scroll;
    overflow-y: hidden;
    flex-direction: row-reverse;
}

.scrollpane.sp-vert_reverse {
    overflow-x: hidden;
    overflow-y: scroll;
    flex-direction: column-reverse;
}

/* Projects scrollpane */
.scrollpane.sp-projects,
.project-grid.pg-project {
    min-height: 50px;
    max-height: 250px;
}

.scrollpane.sp-projects .sp-item {
    background-color: #008cff;
    color: rgb(255, 255, 255);
    margin: 10px;
    min-height: 70px;
    max-height: 180px;
    min-width: 140px;
    border-radius: 10px;
    padding: 1rem;
    transition: 0.5s all;
}

.scrollpane.sp-projects .sp-item:hover,
.project-grid .pg-project:hover {
    background-color: #78c2ff;
    color: black;
}

.scrollpane .sp-item:hover,
.project-grid .pg-project:hover {
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.643);
    transform: translate(-5px, -5px);
    cursor: pointer;
}

/* Studios scrollpane */
.scrollpane.sp-studios {
    min-height: 60px;
    max-height: 210px;
}

.scrollpane.sp-studios .sp-item {
    background-color: #008cff;
    color: white;
    margin: 10px;
    min-height: 80px;
    max-height: 200px;
    min-width: 180px;
    border-radius: 10px;
    padding: 1rem;
    transition: 0.5s all;

}

.scrollpane.sp-studios .sp-item:hover {
    background-color: #78c2ff;
    color: black;
}

.scrollpane .sp-item {
    flex-flow: column nowrap;
    display: flex;
}

/* Filters scrollpane */

.scrollpane.sp-filters .sp-item {
    min-width: 100px;
    max-width: 200px;
}

.scrollpane.sp-filters .sp-spacer {
    min-width: 10px;
}

/* Forums scrollpane */
.scrollpane.sp-forums .sp-item {
    transition: 0.5s all;
}

span.stats {
    color: lightgray;
}

.flex-cont {
    display: flex;
}

.flex-cont.fc-vert {
    flex-direction: column;
}

.width-70 {
    width: 70%;
}

.width-60 {
    width: 60%;
}

.width-50 {
    width: 50%;
}

.width-40 {
    width: 40%;
}

.width-30 {
    width: 30%;
}

.width-third {
    width: calc(100% / 3)
}

.scrollpane .sp-header {
    background-color: rgba(0, 0, 0, 0.544);
}

section {
    margin: 0.1em;
    background: rgba(119, 119, 119, 0.643);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(119, 119, 119, 0.643);
    color: white;
}

#banner {
    margin: 0.1em;
    background: linear-gradient(90deg, rgba(120, 194, 255, 1) 0%, rgba(135, 120, 255, 1) 100%);
    ;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px linear-gradient(90deg, rgba(120, 194, 255, 1) 0%, rgba(135, 120, 255, 1) 100%);
    color: white;
    height: 60vh;
    padding: 2.5rem;
    /* z-index: 999; */
}

#banner button.purple,
button.secondary {
    background-color: transparent;
    color: white;
}

#banner button.purple:hover,
button.secondary:hover {
    background-color: #008cff;
    color: white;
}

.update {
    animation: jiggle 2s forwards;
}

@keyframes jiggle {
    0% {
        transform: rotateZ(10deg)
    }

    5% {
        transform: rotateZ(-9deg)
    }

    10% {
        transform: rotateZ(8deg)
    }

    15% {
        transform: rotateZ(-7deg)
    }

    20% {
        transform: rotateZ(6deg)
    }

    25% {
        transform: rotateZ(-5deg)
    }

    30% {
        transform: rotateZ(4deg)
    }

    35% {
        transform: rotateZ(-3deg)
    }

    40% {
        transform: rotateZ(2deg)
    }

    45% {
        transform: rotateZ(-1deg)
    }

    50% {
        transform: rotateZ(0deg)
    }
}

section.project-grid {
    display: flex;
    flex-wrap: wrap;
    padding: none;
    margin: none;
}

.project-grid .pg-project {
    background-color: #008cff;
    color: rgb(255, 255, 255);
    margin: 10px;
    min-height: 70px;
    max-height: 180px;
    max-width: 130px;
    min-width: 130px;
    border-radius: 10px;
    padding: 1rem;
    transition: 0.5s all;
}

img {
    border-radius: 10px;
}