<div id="banner">
    <!-- Old Scratch update-based banner
        
        <h1>New editor colours just dropped</h1>
    <p>They'll make it easier for colourblind and vision-impaired people who use the site!</p>
    <button class="purple" onclick="closeBanner()">Close</button>
    <!-- <button>View announcement</button> -->

    <!-- Scratch banner
        
        <div class="flex-cont" hidden="true">
        <div class="width-60">
            <h1>Create games, stories and animations, and share them with others around the world</h1>
            <p>Scratch is the largest free coding community for kids. With Scratch you can create anything. Games, art, animations, even crazy stuff like computational fluid dynamics simulations - you name it, you can make it.</p>
            <p>Join now to join millions of kids like you creating cool stuff!</p>
        </div>
        <section class="width-40">
            <h2>Watch the video</h2>
            <iframe width="100%" height="200" style="border-radius: 10px;" src="https://www.youtube-nocookie.com/embed/98awWpkx9UM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </section>
    </div> -->

    <div class="flex-cont">
        <div class="width-60 mobile-fullwidth">
            <h1>Snazzle</h1>
            <h3>A better frontend for Scratch, built by the community, for the community</h3>
            <p>Please note that Snazzle is very much still in development.</p>
            <p>If you're more than a casual user of the Scratch website for whatever reason, then you'll like Snazzle.</p>
            <p>It's like a giant vat of coffee brewed with ingredients from the Scratch community.</p>
        </div>
        <section class="width-40 desktop-only">
            <h1>Features of Snazzle</h1>
            <ul class="flex-cont fc-vert">
                <li>Themeable</li>
                <li>Forum browsing</li>
                <li>Project pages</li>
				<li><a href="https://github.com/redstone-dev/Snazzle" target="_blank">Free and open source! All of it!</a></li>
            </ul>
        </section>
    </div>
    
</div>

<script>
	// old function we don't need
    // function closeBanner() {
    //     var banner = document.getElementById('banner')

    //     banner.hidden = true;
    // }

	// auth code (sorta)
	let canAuth = true;
	if (localStorage.getItem("token")) {
		canAuth = false;
	}

	if (canAuth) {
		document.getElementById("scratch-auth").display = 'block';
	} else {
		document.getElementById("scratch-auth").display = 'none';
	}
</script>