<!DOCTYPE html>
<html>

<head>
  <title>Snazzle - {% block title %}A better frontend for Scratch, built by the community, for the community{% endblock
    %}</title>
  <style>
    html {
      scroll-behavior: smooth;
    }

    /* for mobile */
    @media screen and (max-width: 768px) {
      .flex-cont {
        display: block;
      }

      [class*="width-"] {
        display: block;
        width: 100% !important;
      }
    }

    #banner div section {
      font-size: 1.5em;
    }

    h1:not(#banner section h1) {
      font-size: 3em;
    }
  </style>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles-' + (theme or 'default') + '.css') }}">
  <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
  <script src="https://github.com/scratchblocks/scratchblocks/releases/download/v3.6.2/scratchblocks.min.js"></script>
  <script src="https://kit.fontawesome.com/4bcf06ab35.js" crossorigin="anonymous"></script>
  <input type="hidden" value="{{ sb_scale }}" id="sb_scale">
</head>

<body>
  <nav>
    <div class="navbar-container">
      <div class="logo"><a href="/">Snazzle</a></div>
      <ul class="nav-links">
        <li><button class="secondary" onclick="toggleMenu()"><i class="fa-solid fa-bars"></i> <span
              class="desktop-only">Menu</span></button></li>
        {% if signed_in %}
        <li>
          <a href="/settings"><button class="secondary"><i class="fa-solid fa-user"></i> {{ username }}</button></a>
        </li>
        {% endif %}
      </ul>
    </div>
    <div id="menu">
      <div class="width-third"><a href="/trending"><button class="width-full "><i
              class="fa-solid fa-earth-americas"></i> <span class="desktop-only">Explore</span></button></a></div>
      <div class="width-third"><a href="/forums"> <button class="width-full "><i class="fa-regular fa-comments"></i>
            <span class="desktop-only">Forum Browser</span></button></a></div>
      <div class="width-third"><a href="/settings"><button class="width-full "><i class="fa-solid fa-gear"></i> <span
              class="desktop-only">Settings</span></button></a></div>
    </div>
  </nav>

  <!-- Your content goes here -->
  <div class="omni">
    {% block content %}
    <section>
      <h1>Something went wrong.</h1>
      <p>The page didn't load properly.</p>
    </section>
    {% endblock %}
  </div>

  {% include '_footer.html' %}

  <script>
    const sbScale = document.getElementById('sb_scale').value
  </script>

  {% if use_sb2 == False %}
  <script>
    window.addEventListener('load', function () {
      scratchblocks.renderMatching('pre.blocks', {
        style: 'scratch3',
        languages: ['en'],
        scale: sbScale,
      })
    })
  </script>
  {% else %}
  <script>
    window.addEventListener('load', function () {
      scratchblocks.renderMatching('pre.blocks', {
        style: 'scratch2',
        languages: ['en'],
        scale: sbScale
      })
    })
  </script>
  {% endif %}
  <script>
    function toggleMenu() {
      let display = document.getElementById("menu").style.display;
      if (display == "flex") {
        document.getElementById("menu").style.display = "none";
      } else {
        document.getElementById("menu").style.display = "flex";
      }
    }
  </script>
  <script>
    // Load service worker
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', () => {
        navigator.serviceWorker.register("{{ url_for('static', filename='service-worker.js') }}")
          .then(registration => {
            console.log('Service Worker registered with scope:', registration.scope);
          })
          .catch(error => {
            console.log('Service Worker registration failed:', error);
          });
      });
    }
  </script>
</body>

</html>