<div>
    <!-- <section>
        <!-- <h1>Download Snazzle</h1>
        <p>Download the Snazzle desktop app for exclusive features and a more stable app.</p>
        <h1>Desktop versions coming soon</h1>
        <a href="/secret/dl_mockup"><button>Show me the mockup</button></a>
    </section> -->

    <div class="flex-cont">
        <section class="width-third">
            <h2>Download for Windows <i class="fa fa-windows"></i></h2>
            <h3>Instructions</h3>
            <p>Installer (.msi)</p>
            <ol>
                <li>Download the installer</li>
                <li>Run it with your favourite settings</li>
                <li>You can now launch Snazzle from wherever</li>
            </ol>
            <p>Portable (.zip)</p>
            <ol>
                <li>Download the file</li>
                <li>Unzip on your favourite USB drive</li>
                <li>You can now take Snazzle with you, wherever, or install it without admin priveliges</li>
            </ol>
        </section>
        <section class="width-third">
            <h2>Download for macOS <i class="fa fa-apple"></i></h2>
            <h3>Instructions</h3>
            <p>Installer (.dmg)</p>
            <ol>
                <li>Download the installer</li>
                <li>Double-click it to attach it</li>
                <li>Drag Snazzle to your Applications folder</li>
                <li>You can now launch Snazzle from wherever</li>
            </ol>
        </section>
        <section class="width-third">
            <h2>Download for Linux <i class="fa fa-linux"></i></h2>
            <h3>Instructions</h3>
            <img src="{{ url_for('static', filename='linux-users-installing-browser.gif') }}" alt="" width="100%">
            <p>Just do what that guy is doing</p>
            <p>(Linux builds coming when we get around to it)</p>
        </section>
    </div>
</div>