{% extends "_base.html" %}

{% block content %}

<div class="omni">

    <div id="banner">
        <h1>FORUMS ARE NOT FUNCTIONAL YET</h1>
        <p>Snazzle is very much still in development. So there are no forums yet.</p>
        <p>We aim to launch Scratch forums browsing by fall of 2023.</p>
        <p>For now, you can see a mockup of what it will look like.</p>
    </div>

    {% for title, subforums in data%}
        <section>
            <h2>{{ title }}</h2>
            <div class="scrollpane sp-vert sp-forum">
                {% for subforum in subforums %}
                    <button class="sp-item">{{ subforum }}</button>
                {% endfor %}
            </div>
        </section>
    {% endfor %}

    <section>
        <button>Change signature</button>
    </section>
</div>
{% endblock %}