{% extends "_base.html" %}
{% block title %}Forums{% endblock %}
{% block content %}
<section>
   <h1>Forum Browser</h1>
   <p>NOTE: This does not work very well at all anymore due to ScratchDB being down indefinitely.</p>
</section>

{% if pinned_subforums %}
<div class="flex-cont">
   <section class="width-20 gb-no_T">
      <h2>Pinned subforums</h2>
      <div class="scrollpane sp-forum sp-vert">
         {% for subforum in pinned_subforums %}
         <div class="sp-item">
            <p>
               <a href="unpin-subforum/{{subforum}}" class="unpin-btn"><i
                     class="fa-solid fa-thumbtack pin-icon"></i></a>
               <a href="forums/{{subforum}}?page=0">{{ subforum }}</a>
               <a href="unpin-subforum/{{subforum}}" class="unpin-btn"><button>Unpin</button></a>
            </p>
         </div>
         {% endfor %}
      </div>
   </section>
   {% endif %}
   {% if pinned_subforums %}
   <div class="width-80">
      {% else %}
      <div>
         {% endif %}
         {% for title, subforums in data %}
         <section class="gb-no_T">
            <h2>{{ title }}</h2>
            <div class="scrollpane sp-forum sp-vert">
               {% for subforum in subforums %}
               <div class="sp-item">
                  <p>
                     <a href="forums/{{subforum}}?page=0">{{ subforum }}</a>
                     <a href="pin-subforum/{{subforum}}">
                        {% if not subforum in pinned_subforums %}
                        <i class="fa-solid fa-thumbtack pin-btn"></i>
                        {% else %}
                        <span class="pin-btn">Already pinned</span>
                        {% endif %}
                     </a>
                  </p>
               </div>
               {% endfor %}
            </div>
         </section>
         {% endfor %}
      </div>
      {% if pinned_subforums %}
   </div>
   {% endif %}
   {% endblock %}