{% extends '_base.html' %}

{% block content %}
<div class="omni">
    <section>
        <button onclick="history.back()">Go back</button>
        {% if subforum in pinned_subforums %}
            <a href="/unpin-subforum/{{subforum}}">
                <button type="submit">Unpin</button>
            </a>
        {% else %}
            <a href="/pin-subforum/{{subforum}}">
                <button type="submit">Pin</button>
            </a>
        {% endif %}
        <h1>{{ category }}</h1>
        <p>Loaded {{ len(topics) }} posts.</p>
    </section>
    <div class="scrollpane sp-forum sp-vert">
        {% for topic in topics %}
            <a href="{{ url_for('topic', topic_id=topic.id) }}"><button style="width: 100%;">{{ topic.title }} by {{ get_author_of(topic.id) }}</button></a>
        {% endfor %}
    </div>
</div>
{% endblock %}