{% extends '_base.html' %}

{% block title %}Forums - {{ subforum }}{% endblock %}

{% macro pagination() %}
    <a href="?page={{ topic_page - 1}}">Previous</a>
    |
    <a href="?page={{ topic_page + 1}}">Next</a>
{% endmacro %}

{% block content %}
<div class="omni">
    <section>
        <button onclick="history.back()">Go back</button>
        {% if subforum in pinned_subforums %}
            <a href="/unpin-subforum/{{subforum}}">
                <button type="submit">Unpin</button>
            </a>
        {% else %}
            <a href="/pin-subforum/{{subforum}}">
                <button type="submit">Pin</button>
            </a>
        {% endif %}

        <h1>{{ subforum }}</h1>
        <p>Loaded {{ len(topics) }} topics.</p>
        {{ pagination() }}
    </section>
    <div class="scrollpane sp-forum sp-vert">
        {% for topic in topics %}
            <a href="{{'topic/' + str(topic.id) + '?page=0'}}"><button style="width: 100%;">{{ topic.title }} <span class="topic-author">by {{ get_author_of(topic.id) }}</span></button></a>
        {% endfor %}
    </div>
</div>
{% endblock %}