{% extends '_base.html' %}

{% block content %}
<div class="omni">
    {% if signed_in %}
    {% include 'loggedin.html' %}
    {% else %}
    <div class="hero-banner">
        {% include '_banner.html' %}
        <div id="downloads">{% include '_download.html' %}</div>
        <section>
            <h2>Featured projects</h2>
            <div class="scrollpane sp-horiz sp-projects">
                {% for project in featured_projects %}
                <div class="sp-item" style="height: 200px;">
                    <a href="/projects/{{project['id']}}" style="text-decoration: none;">
                        <img src="{{ project['thumbnail_url'] }}" alt="{{ project['title'] }}"
                            title="{{ project['title'] }}" height="90" width="120">
                    </a>
                    <div style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis"
                        title="{{ project['title'] }}">{{ project["title"]
                        }}
                    </div>
                    <div style="z-index: 0;">by <span class="proj-creator">{{ project["creator"] }}</span></div>
                    <span class="stats"><i class="fa-regular fa-heart"></i> {{project["love_count"]}}</span>
                </div>
                {% endfor %}
            </div>
        </section><br>
        <section>
            <h2>Featured studios</h2>
            <div class="scrollpane sp-horiz sp-studios">
                {% for studio in featured_studios %}
                <div class="sp-item" style="display: block; text-align: center;">
                    <img src="{{ studio['thumbnail_url'] }}" alt="{{ studio['title'] }}" title="{{ studio['title'] }}"
                        width="140" height="90">
                    <div style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"
                        title="{{ studio['title'] }}">{{ studio["title"]
                        }}
                    </div>
                </div>
                {% endfor %}
            </div>
        </section><br>
        <section>
            <h2>Trending projects</h2>
            <div class="scrollpane sp-horiz sp-projects">
                {% for projeck in trending_projects %}
                <div class="sp-item">
                    <img src="{{ projeck['image'] }}" alt="{{ projeck['title'] }}" title="{{ projeck['title'] }}"
                        width="120" height="90">
                    <div style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"
                        title="{{ projeck['title'] }}">{{ projeck["title"]
                        }}
                    </div>
                    <div style="z-index: 0;">by <span class="proj-creator">{{ projeck["author"]["username"] }}</span>
                    </div>
                    <span class="stats"><i class="fa-regular fa-heart"></i> {{ projeck["stats"]["loves"] }}</span>
                </div>
                {% endfor %}
            </div>
        </section><br>
        <section>
            <h2>What the community is loving</h2>
            <div class="scrollpane sp-horiz sp-projects">
                {% for projeckt in loving %}
                <div class="sp-item">
                    <img src="{{ projeckt['thumbnail_url'] }}" alt="{{ projeckt['title'] }}"
                        title="{{ projeckt['title'] }}" width="120" height="90">
                    <div style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"
                        title="{{ projeckt['title'] }}">{{ projeckt["title"]
                        }}
                    </div>
                    by {{ projeckt["creator"] }}
                    <span class="stats"><i class="fa-regular fa-heart"></i> {{ projeckt["love_count"] }}</span>
                </div>
                {% endfor %}
            </div>
    </div>
    </section><br>
    <section>
        <h2>What the community is remixing</h2>
        <div class="scrollpane sp-horiz sp-projects">
            {% for projeck in remixed %}
            <div class="sp-item">
                <img src="{{ projeck['thumbnail_url'] }}" alt="{{projeck['title']}}" title="{{projeck['title']}}"
                    width="120" height="90">
                <div style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"
                    title="{{ projeck['title'] }}">{{ projeck["title"]
                    }}
                </div>
                by {{ projeck["creator"] }}
                <span class="stats"><i class="fa-regular fa-heart"></i> {{ projeck["love_count"] }}</span>
            </div>
            {% endfor %}
        </div>
    </section>
</div>
{% endif %}
</div>
{% endblock %}