<div id="banner">
    <h1>Hello, {{ username or "world" }}!</h1>
</div>
<div class="flex-cont">
    <section class="width-60">
        <h2>What's happening</h2>
        <ul class="scrollpane sp-vert" style="min-height: 50px; max-height: 200px;">
            {% if feed %}
            {% for event in feed %}
            <li>{{ event.subject }} {{ event.verb }} {{ event.object }}</li>
            {% endfor %}
            {% else %}
            <li>Your feed is empty. Go try following some people!</li>
            {% endif %}
        </ul>
    </section>
    <section class="width-40">
        <h2>Scratch News</h2>
        <div class="scrollpane sp-vert" style="min-height: 50px; max-height: 200px;">
            <ul>
                {% if feed %}
                {% for event in news %}
                <li>{{ event.text }}</li>
                {% endfor %}
                {% else %}
                <li>This site is pretty new, so...</li>
                {% endif %}
            </ul>
        </div>
    </section>
</div>