{% extends '_base.html' %}

{% block title %}Projects - {{name}}{% endblock %}

{% block content %}
<!--
<div class="omni">
    <section>
        <h1>{{ name }}</h1>
        <h3>By {{ creator_name }}</h3>
        <iframe 
            src="https://turbowarp.org/{{ project_id }}/embed?addons=pause,gamepad&settings-button&fullscreen-background={{ colour }}" 
            width="658" 
            height="549" 
            allowtransparency="false" 
            frameborder="0" 
            scrolling="no" 
            allowfullscreen
        ></iframe>
    </section>
    <section>
        <p>Comments are bugged so we can't display them</p>
    </section>
    {# scratchdb.get_comments() doesn't work, so comments won't load
        {% for comment in comments %}
            <section class="flex-cont">
                <div class="forum-aside width-20">
                    <h2>{{ comment['author'] }}</h2>
                </div>
                <article class="width-80">
                    {{ comment['content'] }}
                </article>
            </section>
        {% endfor %}
    #}
</div>
-->
<h1><p align="center"><b>{{ name }}</b></p></h1>
<h3 style={{ocularcolour}}><p align="center"><b>By {{ creator_name }}</b></p></h3>
<p align="center"><iframe src="https://turbowarp.org/{{ project_id }}/embed?addons=pause,gamepad&settings-button&fullscreen-background={{ colour }}" width="998" height="832" allowtransparency="false" frameborder="0" scrolling="no" allowfullscreen></iframe></p>
{% endblock %}
