{% extends '_base.html' %}

{% block content %}

<section class="omni">
    {% if err == 'sdb_categorynotfounderror' %}
        <h1>Invalid category</h1>
        <p>That category doesn't exist</p>
    {% elif err == 'sdb_pagenotvaliderror' %}
        <h1>Page not valid</h1>
        <p>This is a technical error on a developer's part.</p>
        <p>This is the description from the ScratchDB docs:</p>
        <samp>the page number was invalid, needs to be >=0 and a whole number.</samp>
    {% elif err == 'sdb_invalidoptionerror' %}
        <h1>Invalid option</h1>
        <p>This is a technical error on a developer's part.</p>
        <p>This is the description from the ScratchDB docs:</p>
        <samp>the page number was invalid, needs to be >=0 and a whole number.</samp>
    {% elif err == 'lib_scratchdbdown' %}
        <h1>ScratchDB is down</h1>
        <p>ScratchDB is currently down, please try again later.</p>
        <p>Sadly, we can't fix this.</p>
    {% endif %}
    <button onclick="history.back()">Back</button>
</section>

{% endblock %}