{% extends '_base.html' %}

{% block content %}

<div class="omni">
    <section>
        <h1>Settings</h1>
        <p>Customize Snazzle to your liking.</p>
    </section>


    <!--

        Wanted to add this, but it might be only possible
        in Svelte or something

        {% macro setting(name, action, disabled) %}
            <section>
                {% if not disabled %}
                    <form action='action'>
                        <h2>{{ name }}</h2>
                        t = text
                            f = `for` attribute
                        {{ caller() }}
                    </form>
                {% else %}
                    <h2>{{ name }}</h2>
                    {{ caller() }}
                {% endif %}
            </section>
        {% endmacro %}

    -->

    <section>
        <form action="/settings" id="form">
            <h2>Change Theme</h2>
            <label for="theme">Theme 
                <select name="theme">
                    <!-- <optgroup label="Dark theme"> -->
                    <option value="default">--- Select an option ---</option>
                    {% for theme in themes %}
                        <option value="{{ theme }}">{{ str_title(theme) }}</option>
                    {% endfor %}
                    <!-- </optgroup> -->
                </select>
            </label>
            <button type="submit">Change Theme</button>
        </form>
    </section>
    <!-- <section>
        <h2>Link Accounts (coming soon)</h2>
        <label for="github">GitHub <button><span class="fa-brands fa-github"></span> Link</button></label>
    </section> -->
    <section>
        <form action="/settings">
            <h2>Forums</h2>
            <label for="max-topic-posts">Maximum visible posts on a page <input type="number" id="max-posts" name="max-posts" placeholder='20'></label>
            <br>
            <label for="show-deleted-posts">Show deleted posts on a topic <input type="checkbox" id="show-deleted-posts" name="show-deleted-posts"></label>
        </form>
    </section>
    <!-- <section>
        <h2>Ocular Status</h2>
        <label for="status">Status <input type="text" id="status" name="status" placeholder='E.g., "Hello world!"'></label>
    </section> -->
</div>
<script>
</script>

{% endblock %}
