{% extends '_base.html' %}

{% block title %}Forums - {{ topic_title }}{% endblock %}

{% block content %}
    {% macro forum_post(author, status, time, content, index, is_deleted) %}

        {% if is_deleted and show_deleted or not is_deleted %}
            <section id="{{ index }}" class="forum-post">
                <input type="text" value="{{ index }}" hidden="true" id="{{ index }}-value">
                <div class="flex-cont">
                    <div class="width-20 forum-aside">
                        <img src="{{ get_pfp(author) }}" alt="{{ author }}'s profile picture" class="pfp">
                        <h2>{{ author }}</h2>
                        <p>{{ status }}</p>
                        <p>{{ time }}</p>
                    </div>
                    <article class="width-80">
                        {{ content | safe }}
                        
                        <div>
                            <a href=" ?save={{ index }}"><button>Save this post</button></a>
                            <a href="?upvote={{ index }}"><button><span class="fa "></span></button></a>
                            <a href="?downvote={{ index }}"><button><span></span></button></a>
                        </div>
                    </article>
                </div>
            </section>
        {% endif %}

    {% endmacro %}

    {% macro pagination(route) %}
    <p>
        <a href="{{ route }}?page={{ topic_page - 1}}">Previous</a>
        |
        <a href="{{ route }}?page={{ topic_page + 1}}">Next</a>
    </p>
    {% endmacro %}

    <div class="omni">

        <section>
            <h1>{{ topic_title }}</h1>
            <button onclick="history.back()">Back</button>
        </section>

        <section>
            {{ pagination("/forums/topic/{{ topic_id }}") }}
        </section>

        {% for post in topic_posts %}
            {{ forum_post(post['author'], post['author_status']['status'], post['time'], post['html_content'], post['index'], post['is_deleted']) }}
        {% endfor %}

        <section>
            {{ pagination("/forums/topic/{{ topic_id }}") }}
            <button onclick="history.back()">Back</button>
        </section>

    </div>
{% endblock %}