{% extends '_base.html' %}

{% block content %}
<section>
    <h1>Explore</h1>
    <p>Find cool projects</p>
    <p>Filters are not functional yet. What you see here is a mockup. We are working on it and will release it as fast
        as we can</p>
</section>
<div class="flex-cont">
    <section>
        <form action="{{url_for('search')}}" method="post">
            <input type="text" placeholder="Search..." name="query">
            <input type="submit" value="Search">
        </form>
    </section>
    <section class="scrollpane sp-horiz sp-filters">
        <button class="sp-item">Projects only</button>
        <button class="sp-item">Studios only</button>
        <span class="sp-spacer"></span>
        <button class="sp-item">Trending</button>
        <button class="sp-item">Newest</button>
        <button class="sp-item">Most views</button>
        <button class="sp-item">Most loves</button>
        <button class="sp-item">Most favourites</button>
        <button class="sp-item">Most remixes</button>
        <span class="sp-spacer"></span>
        <button class="sp-item">#games</button>
        <button class="sp-item">#animations</button>
        <button class="sp-item">#stories</button>
        <button class="sp-item">#simulations</button>
        <button class="sp-item">#music</button>
        <button class="sp-item">#tutorials</button>
    </section>
</div>
<section class="project-grid">
    <div id="load"></div>
</section>

<script>
    var page = 0
    async function loadMore() {
        var load = document.getElementById("load");
        load.innerHTML = "LOADING...";
        var newProjects = "";
        page++;
        await fetch(`/api/trending/?page=${page}`)
            .then(response => response.json()) // This line already parses the response as JSON
            .then(projects => {
                console.log(projects)
                projects.forEach(project => {
                    newProjects += `
                    <div class="pg-project">
                        <a href="/projects/${project['id']}" style="text-decoration: none;">
                            <img src="${project["image"]}" alt="project image" width="130" height="70">
                        </a>
                        <br><span class="title">${project["title"]}</span>
                        <span class="author">${project["author"]["username"]}</span><br>
                        <span class="stats">${project["stats"]["views"]} views</span>
                    </div>
                    `;
                });
                newProjects += '<div id="load"><button id="loadMoreButton" onclick="loadMore()">Load More</button></div>';
                load.outerHTML = newProjects;
            });
    };
    loadMore();
</script>
{% endblock %}


<!-- <div class="pg-project">
        <img src="{{ project.image }}" alt="project image" width="130" height="70">
        <br>{{ project.title }} by {{ project.author.username }}<br>
        <span class="stats">{{ project.stats.views}} views</span>
    </div> -->